<script>
  <%= File.read("bower_components/webcomponentsjs/webcomponents.min.js") %>
</script>

<script type="text/template" id="board-code">
  <%= File.read("bower_components/gs-board/dist/out.html") %>
</script>

<script>
  if (!window.GS_BOARD_LOADED) {
    window.GS_BOARD_LOADED = true;
    var boardCode = document.getElementById("board-code").innerHTML;

    var element = document.createElement("div");
    element.innerHTML = boardCode;
    document.body.insertBefore(element, document.body.childNodes[0]);
  }
</script>

<style>

  .boards-container {
    display: inline-flex;
  }

  .error-text {
    color: #d9534f;
  }

  .boom-text {
    margin-top: 20px;
  }

  .title {
    color: #b4bcc2;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
  }

  .board {
    margin: 0 15px;
  }

</style>

<% if @result[:error] %>
  <p class="error-text">
    <%=I18n.t @result[:error], @result %>
  </p>
<% end %>

<div class="boards-container">

  <% @result[:boards].each do |it| %>
    <div class="board">
      <p class="title"><%=I18n.t it.title %></p>
      <p>
        <gs-board
          size='<%= it.board[:size] %>',
          header='<%= it.board[:header] %>',
          table='<%= it.board[:table] %>' <%=
            if it.board[:boom] then 'boom' else '' end
          %>></gs-board>
      </p>
    </div>
  <% end %>

</div>

<% if @result[:reason] %>
  <div class="boom-text">
    <strong>BOOM</strong>
    <pre><%=@result[:reason]%></pre>
  </div>
<% end %>
