<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.23/webcomponents.min.js"></script>
<link href="https://cdn.rawgit.com/download/polymer-cdn/1.2.3.2/lib/polymer/polymer.html" rel="import">
<link rel="import" href="https://raw.githubusercontent.com/gobstones/gs-board/master/dist/components/gs-board.html"></link>
<!-- // TODO: Esto no funciona offline. A) Compilar todo en un solo archivo con vulcanize y embeberlo o B) Mover a un CDN configurable -->
<!-- // TODO: Agregar css -->

<% if @result[:error] %>
  <p><%=I18n.t @result[:error]%></p>
<% end %>

<div>

  <% @result[:boards]&.each do |it| %>
    <div>
      <p><%=I18n.t it.title %></p>
      <p>
        <gs-board
          size='<%= it.board[:size] %>',
          header='<%= it.board[:header] %>',
          table='<%= it.board[:table] %>' <%=
            if it.board[:boom] then 'boom' else '' end
          %>></gs-board>
      </p>
    </div>
  <% end %>

  <% if @result[:reason] %> <!-- // TODO: Mostrar esto bien -->
    <pre><%=@result[:reason]%></pre>
  <% end %>

</div>
