<script>
  <%= File.read("bower_components/webcomponentsjs/webcomponents.min.js") %>
</script>

<script>
  function toArray(obj) {
    var array = [];
    for (var i = obj.length >>> 0; i--;)
      array[i] = obj[i];
    return array;
  }

  function dynamicLoad(html) {
    var element = document.createElement("div");
    element.innerHTML = html;

    // Insert the html on the document
    var firstChild = document.body.childNodes[0];
    document.body.insertBefore(element, firstChild);

    // Recursively force the execution of <script> tags
    toArray(
      element.getElementsByTagName("script")
    ).filter(function(it) {
      return !it.type || it.type.toLowerCase === "text/javascript";
    }).forEach(evalScriptNode);
  }

  function evalScriptNode(son) {
    // Clone the <script> dom element
    var code = son.text || son.textContent || son.innerHTML || "";
    var newSon = document.createElement("script");
    newSon.innerHTML = code;

    // Reinsert to the dom to force the browser to execute it
    var father = son.parentNode;
    var position = toArray(father.childNodes).indexOf(son);
    father.removeChild(son);
    father.insertBefore(newSon, father.childNodes[position]);
  }

  function loadIfNotLoaded(flag, base64) {
    if (!window[flag]) {
      dynamicLoad(atob(base64));
      window[flag] = true;
    }
  }

  loadIfNotLoaded("POLYMER_1_LOADED", '<%= @polymer_code %>');
  loadIfNotLoaded("GS_BOARD_LOADED", '<%= @board_code %>');
</script>

<style>

  .boards-container {
    display: inline-flex;
  }

  .error-text {
    color: #d9534f;
  }

  .boom-text {
    margin-top: 20px;
  }

  .title {
    color: #b4bcc2;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
  }

  .board {
    margin: 0 15px;
  }

</style>

<% if @result[:error] %>
  <p class="error-text">
    <%=I18n.t @result[:error], @result %>
  </p>
<% end %>

<div class="boards-container">

  <% @result[:boards].each do |it| %>
    <div class="board">
      <p class="title"><%=I18n.t it.title %></p>
      <p>
        <gs-board
          size='<%= it.board[:size] %>',
          header='<%= it.board[:header] %>',
          table='<%= it.board[:table] %>' <%=
            if it.board[:boom] then 'boom' else '' end
          %>></gs-board>
      </p>
    </div>
  <% end %>

</div>

<% if @result[:reason] %>
  <div class="boom-text">
    <strong>BOOM</strong>
    <pre><%=@result[:reason]%></pre>
  </div>
<% end %>
