<script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.23/webcomponents.min.js"></script>
<link href="http://polygit.org/components/polymer/polymer.html" rel="import">
<link rel="import" href="https://raw.githubusercontent.com/gobstones/gs-board/master/dist/components/gs-board.html"></link>
<!-- // TODO: Esto no funciona offline. A) Embeber todo en un solo archivo con vulcanize y embeberlo o B) Mover a un CDN configurable -->

<% if @result[:error] %>

  <p><%=I18n.t :expected_final_board %><p>
  <p><%= @result[:error] %></p>

  <p><%=I18n.t :actual_final_board %></p>
  <p><%= @result[:error] %></p>

<% else %>

  <gs-board size='{ "x": <%= @result[:initial_board][:sizeX] %>, "y": <%= @result[:initial_board][:sizeY] %>}', header='<%= JSON.generate(@result[:initial_board]) %>', table='<%= JSON.generate(@result[:initial_board][:table][:json]) %>'></gs-board>

  <gs-board size='{ "x": <%= @result[:final_board][:sizeX] %>, "y": <%= @result[:final_board][:sizeY] %>}', header='<%= JSON.generate(@result[:final_board]) %>', table='<%= JSON.generate(@result[:final_board][:table][:json]) %>'></gs-board>

<% end %>
